[data-theme='classic'] {
  --text-scaling: 1.067;
  --base-font-color: var(--color-surface-950);
  --base-font-color-dark: var(--color-surface-50);
  --base-font-family: inherit;
  --base-font-size: inherit;
  --base-line-height: inherit;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: inherit;
  --heading-font-color-dark: inherit;
  --heading-font-family: inherit;
  --heading-font-weight: bold;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-secondary-500);
  --anchor-font-color-dark: var(--color-secondary-200);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: inherit;
  --anchor-font-style: inherit;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: none;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 0.25rem;
  --radius-base: 0.375rem;
  --radius-container: 0.75rem;
  --default-border-width: 1px;
  --default-divide-width: 1px;
  --default-ring-width: 1px;
  --body-background-color: var(--color-surface-50);
  --body-background-color-dark: var(--color-surface-950);
  --color-primary-50: oklch(97.8% 0.018 81.3);
  --color-primary-100: oklch(93.1% 0.057 80.9);
  --color-primary-200: oklch(88.5% 0.094 80.2);
  --color-primary-300: oklch(84.5% 0.127 78.8);
  --color-primary-400: oklch(80.5% 0.152 75.7);
  --color-primary-500: oklch(76.9% 0.165 70.1);
  --color-primary-600: oklch(74.3% 0.159 70.3);
  --color-primary-700: oklch(71.7% 0.153 70.4);
  --color-primary-800: oklch(69.4% 0.148 70.8);
  --color-primary-900: oklch(66.8% 0.142 71);
  --color-primary-950: oklch(64.1% 0.136 71.3);
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: var(--color-primary-50);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-dark);
  --color-primary-contrast-500: var(--color-primary-contrast-light);
  --color-primary-contrast-600: var(--color-primary-contrast-light);
  --color-primary-contrast-700: var(--color-primary-contrast-light);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(94.9% 0.027 230.3);
  --color-secondary-100: oklch(84.9% 0.043 231.8);
  --color-secondary-200: oklch(74.9% 0.06 231.3);
  --color-secondary-300: oklch(64.6% 0.076 233.4);
  --color-secondary-400: oklch(54.5% 0.09 235);
  --color-secondary-500: oklch(44.3% 0.1 240.8);
  --color-secondary-600: oklch(39.4% 0.088 240.2);
  --color-secondary-700: oklch(34.3% 0.075 239.5);
  --color-secondary-800: oklch(29.1% 0.063 239);
  --color-secondary-900: oklch(23.5% 0.049 237.1);
  --color-secondary-950: oklch(17.6% 0.034 232.6);
  --color-secondary-contrast-dark: var(--color-secondary-950);
  --color-secondary-contrast-light: var(--color-secondary-50);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-light);
  --color-secondary-contrast-500: var(--color-secondary-contrast-light);
  --color-secondary-contrast-600: var(--color-secondary-contrast-light);
  --color-secondary-contrast-700: var(--color-secondary-contrast-light);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);
  --color-tertiary-50: oklch(92.9% 0.029 264.4);
  --color-tertiary-100: oklch(84.8% 0.065 265.8);
  --color-tertiary-200: oklch(76.9% 0.101 264.8);
  --color-tertiary-300: oklch(68.9% 0.141 264.5);
  --color-tertiary-400: oklch(61.5% 0.178 263.4);
  --color-tertiary-500: oklch(54.6% 0.215 262.9);
  --color-tertiary-600: oklch(50.6% 0.197 262.8);
  --color-tertiary-700: oklch(46.4% 0.179 262.8);
  --color-tertiary-800: oklch(42.2% 0.16 262.9);
  --color-tertiary-900: oklch(37.9% 0.14 262.9);
  --color-tertiary-950: oklch(33.5% 0.12 262.8);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(94.4% 0.087 159.4);
  --color-success-100: oklch(89.5% 0.11 157.5);
  --color-success-200: oklch(85% 0.136 155.4);
  --color-success-300: oklch(80.4% 0.157 153.8);
  --color-success-400: oklch(76.3% 0.178 151.6);
  --color-success-500: oklch(72.3% 0.192 149.6);
  --color-success-600: oklch(65.5% 0.18 148.3);
  --color-success-700: oklch(58.6% 0.168 146.8);
  --color-success-800: oklch(51.2% 0.153 145.5);
  --color-success-900: oklch(43.8% 0.139 143.9);
  --color-success-950: oklch(36.1% 0.123 142.5);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-dark);
  --color-success-contrast-600: var(--color-success-contrast-light);
  --color-success-contrast-700: var(--color-success-contrast-light);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(98.3% 0.093 108);
  --color-warning-100: oklch(93.4% 0.098 94.5);
  --color-warning-200: oklch(88.6% 0.107 82.1);
  --color-warning-300: oklch(84.3% 0.123 72.1);
  --color-warning-400: oklch(79.9% 0.14 63.3);
  --color-warning-500: oklch(75.8% 0.159 55.9);
  --color-warning-600: oklch(68.4% 0.151 53);
  --color-warning-700: oklch(61% 0.143 50.2);
  --color-warning-800: oklch(53.1% 0.135 46.6);
  --color-warning-900: oklch(45.4% 0.128 42.7);
  --color-warning-950: oklch(37.5% 0.121 38.6);
  --color-warning-contrast-dark: var(--color-warning-950);
  --color-warning-contrast-light: var(--color-warning-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-light);
  --color-warning-contrast-700: var(--color-warning-contrast-light);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(82.6% 0.1 39.7);
  --color-error-100: oklch(76.6% 0.125 32.7);
  --color-error-200: oklch(71.1% 0.151 29.2);
  --color-error-300: oklch(65.8% 0.177 27.4);
  --color-error-400: oklch(61.4% 0.199 27);
  --color-error-500: oklch(57.7% 0.215 27.3);
  --color-error-600: oklch(52.2% 0.196 27.5);
  --color-error-700: oklch(46.6% 0.176 27.6);
  --color-error-800: oklch(40.7% 0.156 27.9);
  --color-error-900: oklch(34.8% 0.135 28.1);
  --color-error-950: oklch(28.2% 0.116 29.2);
  --color-error-contrast-dark: var(--color-error-950);
  --color-error-contrast-light: var(--color-error-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-light);
  --color-error-contrast-500: var(--color-error-contrast-light);
  --color-error-contrast-600: var(--color-error-contrast-light);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(98.4% 0.003 247.9);
  --color-surface-100: oklch(93.2% 0.01 252.8);
  --color-surface-200: oklch(84.9% 0.017 259.4);
  --color-surface-300: oklch(73.4% 0.024 254.4);
  --color-surface-400: oklch(64.6% 0.032 257.8);
  --color-surface-500: oklch(55.4% 0.041 257.4);
  --color-surface-600: oklch(49% 0.041 260.3);
  --color-surface-700: oklch(42.5% 0.039 259.9);
  --color-surface-800: oklch(35.6% 0.04 263);
  --color-surface-900: oklch(28.5% 0.038 262.8);
  --color-surface-950: oklch(20.8% 0.04 265.8);
  --color-surface-contrast-dark: var(--color-surface-950);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-dark);
  --color-surface-contrast-500: var(--color-surface-contrast-light);
  --color-surface-contrast-600: var(--color-surface-contrast-light);
  --color-surface-contrast-700: var(--color-surface-contrast-light);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}
