@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root [data-theme='classic'],
  :root [data-theme='crimson'],
  :root [data-theme='hamlindigo'],
  :root [data-theme='modern'],
  :root [data-theme='rocket'],
  :root [data-theme='skeleton'] {
    --theme-font-family-base: 'apparat', sans-serif;
    --theme-font-family-heading: 'apparat', sans-serif;
  }

  /* Disable double-tap to zoom */
  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    touch-action: manipulation;
  }
}

@layer components {
  @media (prefers-reduced-motion) {
    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
      animation: none !important;
    }
  }

  /* AUTOCOMPLETE */
  .autocomplete {
    @apply text-token bg-surface-200-700-token shadow-lg overflow-hidden border-token border-primary-500 rounded-container-token z-[400];
  }

  .autocomplete > div {
    @apply px-2 py-3 cursor-pointer bg-surface-100-800-token border-y border-surface-300-600-token;
  }
  .autocomplete > .group {
    @apply bg-surface-100-800-token hover:bg-primary-400/20;
  }

  .autocomplete > div.selected,
  .autocomplete > div:hover:not(.group) {
    @apply variant-soft-primary text-token;
  }

  .link {
    @apply underline text-secondary-800 dark:text-secondary-50;
  }
}

@layer utilities {
  #preview-svg-image > * {
    cursor: pointer;
  }

  /* This is to center data table headers... */
  th div {
    justify-content: center !important;
  }
}
